@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.8s ease;
  user-select: none;
}

body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3e4b66;
}

.App {
  width: 60rem;
  font-size: 1rem;

  background-color: #548cff /*#548cff*/;
  box-shadow: 0 0.5em 2.5em rgba(0, 0, 0, 0.15) !important;
  color: rgba(255, 255, 255, 0.9);
}
.quistion {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-weight: 400;
  font-size: 1.5rem;
  user-select: none;
  width: 50rem;
  margin: 0 auto;
  height: 8rem;
  text-align: center;
}
.options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  width: 39.5rem;
  margin: 0 auto;
}

.submit {
  position: relative;
  top: 5rem;
  background-color: #3dbe6f;
  width: 60rem;
  font-size: 1.5rem;
  height: 5rem;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  body {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
  }
  .App {
    margin-top: 5rem;
    width: 50rem !important;
  }
  .submit {
    width: 100%;
    bottom: 0;
  }
  .quistion {
    width: 100%;
  }
  .options {
    width: 80%;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 760px) {
  .App {
    margin-top: 3rem;
    width: 100vw !important;
  }
  .submit {
    width: 100%;
  }
  .quistion {
    width: 90%;
    margin-bottom: 3rem;
  }
  .options .option {
    width: 80% !important;
    padding-top: 1rem;
    margin: 0 auto;
  }
}
